

@font-face {
  font-family: 'Graphik Web';
  src: url('../../assets/fonts/graphik/Graphik-Medium.eot');
  src: url('../../assets/fonts/graphik/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
     url('../../assets/fonts/graphik/Graphik-Medium.woff') format('woff'),
     url('../../assets/fonts/graphik/Graphik-Medium.ttf') format('truetype');
  font-style:   normal;
  font-weight:400;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Light';
  src: url('../../assets/fonts/graphik/Graphik-Light.eot');
  src: url('../../assets/fonts/graphik/Graphik-Light.eot?#iefix') format('embedded-opentype'),
     url('../../assets/fonts/graphik/Graphik-Light.woff') format('woff'),
     url('../../assets/fonts/graphik/Graphik-Light.ttf') format('truetype');
  font-style:   normal;
  font-weight:400;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Bold';
  src: url('../../assets/fonts/graphik/Graphik-Bold.eot');
  src: url('../../assets/fonts/graphik/Graphik-Bold.eot?#iefix') format('embedded-opentype'),
     url('../../assets/fonts/graphik/Graphik-Bold.woff') format('woff'),
     url('../../assets/fonts/graphik/Graphik-Bold.ttf') format('truetype');
  font-style:   normal;
  font-weight:400;
  font-stretch: normal;
}

html, body {
	color: black;
	font-family: 'Graphik Web', sans-serif!important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Graphik Bold', sans-serif!important;
}

.campus-boxes-container a:hover > div {
	background-color:black;
}

.nounderline{text-decoration: none!important;}


	.jumbotron {
		background-image: url('../../assets/img/jumbotron.jpg');
		background-attachment:fixed;
		background-size: cover;
		height: 500px;
		background-position:center;

	}
	.campus-boxes-container {
		margin-top: -100px;
		padding-bottom: 50px;
	}
	.campus-box {
		padding: 20px;
	
	}
	.box-bg-1 { background-color: #502C78; }
	.box-bg-2 { background-color: #C9243F; }
	.box-bg-3 { background-color: #8D285C; }
	.box-bg-4 { background-color: #68789B ; }

	.split-box-container {
		padding-bottom: 50px;
	}

	.floating-boxes-container {
		padding-bottom: 50px;
	}

	.floating-box {
		padding: 20px;
		height: 150px;
	}

	#main-nav {
		background-color: white;
		opacity: 0.9;
	}

	.image-frame{
		height: 120px;
		border-style: solid;
		border-width: 2px;
		border-color: black;
	}

	.frame-1{
		background-image: url('../../assets/img/vulkan.jpg');
		background-size: cover;
	}

	.frame-2{
		background-image: url('../../assets/img/jumbotron.jpg');
		background-size: cover;
	}

	.frame-3{
		background-image: url('../../assets/img/kvadraturen.jpg');
		background-size: cover;
	}

	.frame-4{
		background-image: url('../../assets/img/brenneriveien.jpg');
		background-size: cover;
	}

	.campus-text{
		margin-top:30px;
	}

	#right-box{
		background-image: url('../../assets/img/studenter1.jpg');
		height: 350px;
		background-size: cover;
		background-position: center;
	}

	#left-box{
		height: 350px;
	}

	.footer{
		background-color: #68789B;
		text-align:center;

		position: absolute;
  		width: 100%;
	}

	.campus-thumb-container {
		padding-left: 3rem!important;
		padding-right: 0rem!important;
	}



@media (min-width: 768px) {

	.w-md-50 {
		width: 50%!important;
	}

.campus-thumb-container {
		padding-left: 3rem!important;
		padding-right: 3rem!important;
	}


 }

#main-nav {
	font-family: 'Graphik Bold';
}

/* hide the wp admin bar while we are developing because its in the way */
body {
            margin-top: -28px;
            padding-bottom: 28px;
        }
        body.admin-bar #wphead {
            padding-top: 0;
        }
        body.admin-bar #footer {
            padding-bottom: 28px;
        }
        #wpadminbar {
            top: auto !important;
            bottom: 0;
        }
        #wpadminbar .quicklinks .menupop ul {
            bottom: 28px;
        }
/* //// */


        .no-padding { padding: 0; }
		.split-box {
            height: 511px;
        }

        .place-center {
            position:absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
        .image-box {
            height: 511px;
            width:50%;
            background-position:center; 
            background-repeat:no-repeat; 
            background-size: cover;
        }


		.quick-nav {

		}
		.quick-nav ul {
			padding:0;
			margin:0;
		}
		.quick-nav li {
			list-style: none;
			padding:0;
			margin:0;
		}
		.quick-nav button {
			width: 100%;
			text-align:left;
		}


	@media(max-width: 540px){
		.place-center{
			position:absolute;
			top: 10%;
			left:10%;
			transform: translate(-5%,-5%);
			font-size: 15px;
		}
	}

.slide-container {

}
.slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slick-list,
.slick-track {
    height: 100%;
}