/*
**	GRAPHIK FONTS
*/

@font-face {
  font-family: 'Graphik Web';
  src: url('../../assets/fonts/graphik/Graphik-Medium.eot');
  src: url('../../assets/fonts/graphik/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
     url('../../assets/fonts/graphik/Graphik-Medium.woff') format('woff'),
     url('../../assets/fonts/graphik/Graphik-Medium.ttf') format('truetype');
  font-style:   normal;
  font-weight:400;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Light';
  src: url('../../assets/fonts/graphik/Graphik-Light.eot');
  src: url('../../assets/fonts/graphik/Graphik-Light.eot?#iefix') format('embedded-opentype'),
     url('../../assets/fonts/graphik/Graphik-Light.woff') format('woff'),
     url('../../assets/fonts/graphik/Graphik-Light.ttf') format('truetype');
  font-style:   normal;
  font-weight:400;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Bold';
  src: url('../../assets/fonts/graphik/Graphik-Bold.eot');
  src: url('../../assets/fonts/graphik/Graphik-Bold.eot?#iefix') format('embedded-opentype'),
     url('../../assets/fonts/graphik/Graphik-Bold.woff') format('woff'),
     url('../../assets/fonts/graphik/Graphik-Bold.ttf') format('truetype');
  font-style:   normal;
  font-weight:400;
  font-stretch: normal;
}

/*
**	GENERAL STYLING
*/
html, body {
	color: black;
	font-family: 'Graphik Web', sans-serif!important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Graphik Bold', sans-serif!important;
}

.pods_widget_list { 
list-style:none; }

/* Hover for the campus navigation */
.campus-boxes-container a > div {
	transition: 1s ease;
}

/* Hover for the campus navigation */
.campus-boxes-container a:hover > div {
	background-color:black;
}

/* No-underline helper class */
.nounderline{ 
	text-decoration: none!important; 
}

/* Contains the jumbotron or slider */
.jumbotron {
	background-image: url('../../assets/img/jumbotron.jpg');
	background-attachment:initial;
	background-size: cover;
	height: 500px;
	background-position:center;
}

@media (min-width: 992px) { 
	.jumbotron {
		background-attachment:fixed!important; 
	} 
}


/* Place the campus navigation on top of the jumbotron */
.campus-boxes-container {
	margin-top: -100px;
	padding-bottom: 50px;
}

/* The campus navigation boxes */
.campus-box {
	padding: 20px;

}

/* Some background color helpers */
.box-bg-1 { background-color: #502C78; }
.box-bg-2 { background-color: #C9243F; }
.box-bg-3 { background-color: #8D285C; }
.box-bg-4 { background-color: #68789B ; }

/* The top nav bar */
#main-nav {
	background-color: white;
	font-family: 'Graphik Bold';
}

#main-nav a {
	transition: 1s ease;
	color:black;
}
#main-nav a:hover {
	text-decoration:underline;
}
#main-nav a.active {
	text-decoration:underline;
}
h1 a {
	color: black;
	transition: 1s ease;
}
h1 a:hover {
	color: #C9243F!important;
}

/* The image-frame (border) for the campus navigation thumnails */
.image-frame{
	height: 120px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

/* Footer section */
.footer{
	background-color: #68789B;
	text-align:center;

	position: absolute;
		width: 100%;
}
.social-container ul,
.social-container li {
	list-style: none;
	display:inline-block;
}
ul {
	padding:0;
	margin:0;
}
.social {
	width: 40px;
	height: 40px;
	display:inline-block;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.social-twitter {
	background-image: url('https://kristiania.no/wp-content/themes/hk/dist/images/social/HK Ikon-Twitter-stor.svg');
}
.social-facebook {
	background-image: url('https://kristiania.no/wp-content/themes/hk/dist/images/social/HK Ikon-FB-stor.svg');
}
.social-instagram {
	background-image: url('https://kristiania.no/wp-content/themes/hk/dist/images/social/HK Ikon-IG-stor.svg');
}
.social-linkedin {
	background-image: url('https://kristiania.no/wp-content/themes/hk/dist/images/social/HK Ikon-Linkedin-stor.svg');
}
.social-snapchat {
	background-image: url('https://kristiania.no/wp-content/themes/hk/dist/images/social/HK Ikon-Snapchat-stor.svg');
}
.social-youtube {
	background-image: url('https://kristiania.no/wp-content/themes/hk/dist/images/social/HK Ikon-Youtube-stor.svg');
}
.social-twitter:hover {
	background-image: url('https://kristiania.no/wp-content/themes/hk/dist/images/social/HK Ikon-Twitter-stor-hover.svg');
}
.social-facebook:hover {
	background-image: url('https://kristiania.no/wp-content/themes/hk/dist/images/social/HK Ikon-FB-stor-hover.svg');
}
.social-instagram:hover {
	background-image: url('https://kristiania.no/wp-content/themes/hk/dist/images/social/HK Ikon-IG-stor-hover.svg');
}
.social-linkedin:hover {
	background-image: url('https://kristiania.no/wp-content/themes/hk/dist/images/social/HK Ikon-Linkedin-stor-hover.svg');
}
.social-snapchat:hover {
	background-image: url('https://kristiania.no/wp-content/themes/hk/dist/images/social/HK Ikon-Snapchat-stor-hover.svg');
}
.social-youtube:hover {
	background-image: url('https://kristiania.no/wp-content/themes/hk/dist/images/social/HK Ikon-Youtube-stor-hover.svg');
}

/* Contains the campus photo thumbnail */
.campus-thumb-container {
	padding-left: 3rem!important;
	padding-right: 0rem!important;
}

@media (min-width: 768px) {
	.w-md-50 {
		width: 50%!important;
	}

	.campus-thumb-container {
		padding-left: 3rem!important;
		padding-right: 3rem!important;
	}
}

/* Helper class to reset padding */
.no-padding { padding: 0; }

/* Set height for the 50/50 split box */
.split-box {
    height: 50vh;
}

/* The image for the 50/50 split boxes */
.image-box {
    height: 50vh;
    width:50%;
    background-position:center; 
    background-repeat:no-repeat; 
    background-size: cover;
}
.maps-box {
    height: 511px;
    width:50%;
    background-position:center; 
    background-repeat:no-repeat; 
    background-size: cover;
}

@media (min-width: 992px) { 
	.split-box {
		height: 511px;
	}
	.image-box {
		height:511px; 
	} 
}

/* Helper class to position something in the dead center hor/vert */
.place-center {
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}


/* Quick nav shortcuts styling */
.quick-nav ul {
	padding:0;
	margin:0;
}
.quick-nav li {
	list-style: none;
	padding:0;
	margin:0;
}
.quick-nav button {
	width: 100%;
	text-align:left;
}


@media(max-width: 540px){
	.place-center{
		position:absolute;
		top: 10%;
		left:10%;
		transform: translate(-5%,-5%);
		font-size: 15px;
	}
}

/* Front page slideshow styling */
.slide {
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
}
.slick-list,
.slick-track {
    height: 100%;
}

/* Maps part styling */
#maps {
	height: 100%;
}
#maps-floating-panel {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translate(-50%);
	z-index: 5;
	padding: 5px;
	text-align: center;
	width: 80%;
	font-family: 'Graphik Web','sans-serif';
}

#maps-floating-panel .row {
	margin: 5px auto;
	padding: 15px 5px;
	background-color: grey;
	border:1px solid black;
}

/* Floorplan styling */
.wrap {
}
.wrap img {
	position:absolute;
}
.floor { 
	width: 100%;
	opacity: 1;
}
.floor:hover { 
	opacity: 1;
}
.floor-active > a > .floor:not(.selected) {
	opacity: 0.1!important;
}

/* Shortcuts links styling */
.shortcut-grid {
    list-style: none;
    padding:0;
    margin: 0 0 5%;
    margin-left: -5px;
    margin-right: -5px;
}
.shortcut-grid li {
    display: inline-block;
}
.shortcut-li {
    position:relative;
}
.shortcut-link {
    height: 250px;
    width: 250px;
    margin-bottom: 5px;
    display:block;
    background-color:#EFEFEF;
    color: black;
    position:relative;
    border-bottom: 5px solid #C9243F;
    transition: 0.5s ease;
}
.shortcut-link:hover {
    color: #C9243F;
    background-color: #CCCCCC!important;
}
.shortcut-icon {
    position: absolute;
    left:50%;
    top: 50px;
    transform: translate(-50%);

    font-size: 5rem;
    display:block;
}
.shortcut-text {
    position:absolute;
    display:block;

    bottom:50px;

    left:50%;
    transform: translate(-50%);
}